{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Assignment detail
{% endblock %}


{% block content %}
    
    <main class="notes_container">
        <section class='text-center container'>

            <div class="container">
                {% if user.is_authenticated %}
                <div class="content-section p-0 mt-5">
                    
                    <div class="m-3">
                        <h2>{{homeworks.title}}</h2>
                    </div>
        
                    <hr class="p-0 m-0">
                    <p class="description m-5 p-5">
                        {{homeworks.description}}
                    </p>
                    
                    <hr>

                    <a href="{% url 'update_assignment' homeworks.pk %}">
                        <div class="form-check">
                            {% if homeworks.is_finished %}
                                <label style="margin-right: 2rem;"> click to go back</label>
                                <input class="form-check-input" type="checkbox" value="" checked>
                            {% else %}
                                <label style="margin-right: 2rem;"> click to go back</label>
                                <input class="form-check-input" type="checkbox" value="">
                            {% endif %}
                            <label class="form-check-label text-light" for="flexCheckDefault">
                                Mark as Completed
                            </label>
                        </div>
                    </a>

                </div>
                {% else %}
                    <div class="content-section p-0 mt-5">
                        
                        <div class="m-3">
                            <h2>Please Login to access the page</h2>
                        </div>
            
                        
                        <hr>

                    </div>
                {% endif %}
            </div>
        </section>
    </main>


{% endblock %}

 