<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="header_container-1" style=" background: url({% static 'images/formbgtop.png' %})">
            <div class="header_container-2" style="background: url({% static 'images/formbottom.png' %})">
            <nav class="main-nav">
                <div class="logo-text">Student Study Portal</div>
                <ul class="nav-list">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link">
                            <img src="{% static 'images/dassIcon.svg' %}">
                            Dashboard
                        </a></li>
                        {% if user.profile.id %}
                        <li class="nav-item"><a href="{% url 'profile' user.profile.id %}" class="nav-link">
                            <img src="{% static 'images/profile.svg' %}">
                            Profile
                        </a></li>
                        {% endif %}
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                            <img src="{% static 'images/login.svg' %}">
                            Logout
                        </a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">
                            <img src="{% static 'images/signup.svg' %}">
                            Sign Up
                        </a></li>
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">
                            <img src="{% static 'images/login.svg' %}">
                            Sign In
                        </a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>  
        </div>  
    </header>  
    
   
    {% block content %}

    {% endblock %}

    <footer class="main_footer">
        <div class="logo">
            <h2>Student Study Portal</h2>
        </div>
        <p>Thanks for visiting this portal</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script>
        const createHomeBtn = document.getElementById('create_homework_btn')
        const formContainer = document.querySelector('.create_form_container')
        const SubmitBtn = document.querySelector('.submit_btn')
        const input = document.getElementById('id_title')
        const inputTextarea = document.getElementById('id_description')
        const title = document.querySelector('.note_title')
        const description = document.querySelector('.note_description')

        formContainer.style.display = 'none'

        createHomeBtn.addEventListener('click', displayForm)
        function displayForm(){
            // hide the create home btn 
            createHomeBtn.style.display = 'none'
            // display Form Input Fields
            formContainer.style.display = 'block'

            // Clear the input values
            title.value = ""
            description.value = ""
        }



       

    </script>
</body>
</html>