{% extends 'base.html' %}
{% load static %}
{% block title %}
    Update Profile
{% endblock %}

{% block hero %}

    <h1>Welcome {{ user.username}}</h1>
    <p>Please Update your profile</p>
{% endblock %}


{% block content %}    
    {% if user.is_authenticated %}
            <div class="form_container">
                <form action="" method="post" class="sign_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 class="form_title">Welcome </h2>
                        
                    {{ form.as_p }}
                   
                    <button class="btn" type="submit">Update Account</button>
                </form>
            </div>
    {% else %}
        <div class="forn_container">
            <h2 class="form_title" style="color: #fff;">Sign Up to Access This page</h2>
        </div>
    
    {% endif %}
{% endblock %}
